<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/styles/gyms.css">
    <title>{{data.name}}</title>
    <h1 class="gyms-h1">{{data.name}}</h1>
</head>

<body>
    <img src="{{data.photo}}" alt="{{data.name}}">
    <p class="gyms-p">{{data.adress}}</p>
    <input type="submit" value="Delete account" />
</body>

</html>