<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}
    <title>{{data.name}}</title>
    <h1>{{data.name}}</h1>
</head>

<body>
    <img src="{{data.photo}}" alt="{{data.name}}">
    <p>{{data.adress}}</p>
</body>

</html>