<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/styles/gyms.css">
  <title>Gyms:</title>
</head>

<body>
  <div class="card-group">
    {{#each data}}
    <div class="card">
      <div class="img-content"> <img src="{{this.photo}}" alt="{{this.name}}"></div>
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.adress}}</p>
        <div class="col-md-4 text-center">
          <a href="/gyms/{{this.id}}" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <a href="/gyms/create" class="btn btn-primary">Create Gym</a>
  <p id="demo"></p>
  <button type="button" onclick="MyFunction()">Show json in console</button>
  <script>
    function MyFunction() {

      const p = fetch('/api/gyms');
      p.then(function (response) {
          return response.json();
      }).then(function(resolve) {
          console.log(resolve);
      }).catch(function (err) {
          console.log(err);
      })
    }
  </script>
</body>

</html>