<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Gyms:</title>
</head>

<body>
  <divclass="card-group">
    {{#each data}}
    <div class="card" style="width: 18rem;">
      <img src="{{this.photo}}" alt="{{this.name}}">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <p class="card-text">{{this.adress}}</p>
        <a href="/gyms/{{this.id}}" class="btn btn-primary">Details</a>
        {{!-- <a href="#" class="btn btn-primary">ZAPISATSYA V KOCHALKU</a> --}}
      </div>
    </div>
    {{/each}}
    </div>
    <a href="/gyms/create" class="btn btn-primary">Create Gym</a>
</body>

</html>